/* 바디 */
@media only screen and (max-width: 600px){
  html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}
}


body {
  background-color: #111426;
  
}



/* 속성(기능)별 */

.index-loading{
  color: aliceblue;
  font-size: 3cm;
}

.curser_to_point{
  cursor: pointer;
}

.vertical-align-center{
  display: flex;
}


.option-btn-wrapper{
  margin:0 auto;
}

.bg-color-darknavy{
  background-color: #111426;
}


.bg-color-darkslateblue{
  background-color: darkslateblue;
  width:100%;  ;
}

.bg-color-yellow{
  background-color: rgb(235, 172, 0)
  ;
}

.align-center{
  float: none;
  margin:0 auto;
}


/* 사용위치 */

/* 네비바 */
.nav-item-float-right{
  float:right;
  margin:0 auto;
}
/* searAurorian and CharacterList */

.search-character-input-row {
  padding-top: 20px;
  width:50%;
  min-width: 500px;
  float: none;
  margin:0 auto;
}

.character-list-open-td{
  width: 0px;
  text-align:center;
  vertical-align: middle;
  
}

.character-table-td-millde-index{
  width: 13%;
  max-width: 200px;
  text-align:center;
  vertical-align: middle;
}

.character-table-tbody-td-index{
  /* width: 17%; */
  text-align:center;
  vertical-align: middle;
  cursor: pointer;
}
.character-table-td-index-icon{
  width: 15%;
  min-width: 90px;  
  text-align:center;
  vertical-align: middle;
}

.option-buttons-second-group{
  padding-top: 6px;
  padding-bottom: 10px;
}

.character-list{
  width:85%;
  min-width: 500px;
  float: none;
  margin:0 auto;
}

.character-list-open-button{
  float: none;
  margin: 30px auto;
}

.page-button-tool-bar-row{
  padding-top: 10px;
}

.page-button-group{
  float: none;
  margin:0 auto;
}

/* .character-list-collapse{
} */

/* [characterInfo] */

.character-info-container{
  padding-top: 20px;
  background-color: #111426;
}

.character-info-first-row-index-col{
  margin-left: 20px;
  padding-bottom: 10px;
  color:rgb(255, 255, 255)
}

.character-info-first-row-col{
  color:rgb(255, 255, 255)
}

.character-info-detail-col{
  background-color: #0f1640;
  color: aliceblue;
}

.character-info-character-row{
  min-height: 200px;
}

.character-image-col{
  max-width: 800px; 
}

.character-info-character-image-wrapper{
  position: relative;
  width: 100%;
} 

.character-info-character-image-wrapper::before {
    content: "";
    display: block;
    padding-top: 100%;
} 

.character-info-character-image{ 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: off;
}

/* .character-info-character-image{
  position: relative;;
  width:95vh;
  height:95vh;
} */

.character-info-character-image-button{
  float: none;
  margin:0 auto;
  width:50%;
}

.character-info-attr-class-div{
  display: flex;
  align-items: center;
}

.character-info-attr-class-span{
  padding-right: 11px;

}

.character-info-attr-class-span-2{
  padding-left: 11px;
  padding-right: 11px;
}

.character-info-quick-view-ascension-col{
  padding-top : 12px;   
}

.character-info-quick-view-ascension-col-button{
  padding-left : 12px;
}

.character-info-quick-view-breakthrough-col{
  padding-top : 15px;   
}

.character-info-quick-view-breakthrough-col-button{
  padding-left : 12px;   
}

.skills-veiw-row{
  margin-top: 2px;
}

.chain-skill-veiw-row{
  padding-top: 10px;
}

.chain-skill-veiw-button-toolbar{
  padding-top: 5px;

}

.chain-skill-veiw-button{
  height:43px;
  width:43px;
  font-size: 0.33cm;
  margin:0 auto;
}

.chain-skill-view-top{
  background-color: rgb(10, 8, 59)
}

.active-skill-card-wrap{
  margin-left: -6px;
  padding-top: 6px;
}

.active-skill-card{
  padding-top: 11px;
  text-align: center;
  height:44px;
  width:44px;
  background-color: #0D6EFD;
  color: white;
  font-size: 0.33cm;
}

.character-info-equip-row{
  padding-top: 25px;
}

.character-info-equip-span{
  color: antiquewhite;
  font-size: 0.6cm;
}

.character-info-equip-name-span{
  color: antiquewhite;
  font-size: 1.0cm;
}

.character-info-equip-text-span{
  color: antiquewhite;
  font-size: 0.4cm;
}

.character-info-equip-talbe-lv{
  width:100%;
  min-width: 200px;
}

.character-info-equi-table-count{
  min-width: 40px;
  text-align:center;
}

.character-info-breakthrough-row{
  padding-top: 25px;
}

.character-info-breakthrough-table{
  text-align: left;
}

.character-info-breakthrough-table-count{
  min-width: 50px;
  text-align:center;
}

.character-info-berakthrough-talbe-text{
  text-indent: 15px;
  width:100%;
}

.character-info-preferred-table-name{
  min-width: 133px; 
  text-align:center;
}

.character-info-preferred-talbe-text{
  text-indent: 15px;
  width:100%;
}

.character-info-preferred-gift-card{
  background-color: #0f1640;
  color:antiquewhite;
}

.character-info-file-table-name{
  min-width: 100px; 
  text-align:center;
}

.character-info-file-stories-text{
  text-indent: 15px;
  width:100%;
  cursor: pointer;
}

.character-info-story-table-name{
  min-width: 140px; 
  text-align:center;
}

.character-info-story-table-li{
  list-style:none;
  text-align:center;
  padding-left: 0px;
  padding-right: 60px;
}



